

.peatükk {
    display: flex;
}
.peatükk * {
    padding: 5px;
}


.teksti-pool * {
    padding: 10px;
}

.teksti-pool {
    flex: 7;
}

.piltide-pool {
    flex: 3;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}